<%= form_with(model: movie, class: "movie-form") do |form| %>
  <% if movie.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rating %>
    <%= form.select :rating, ['G', 'PG', 'PG-13', 'R', 'NC-17'], { include_blank: "Select a rating" }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :release_date %>
    <%= form.date_field :release_date, class: "form-control" %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "submit-button" %>
  </div>
<% end %>