<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
    <tr>
    <tr>
      <th><%= sortable "title" %></th>
      <th><%= sortable "rating" %></th>
      <th><%= sortable "release_date", "release date" %></th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime('%d %B %Y') %></td>
        <td>
          <%= link_to "Show this movie", movie %>
        </td>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to "New movie", new_movie_path %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>