<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table class="movies-table">
    <thead>
    <tr>
      <th class="sortable"><%= sortable "title" %></th>
      <th class="sortable"><%= sortable "rating" %></th>
      <th class="sortable"><%= sortable "release_date", "release date" %></th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= sorted_row "title" %><%= movie.title %></td>
        <td><%= sorted_row "rating" %><%= movie.rating %></td>
        <td><%= sorted_row "release_date" %><%= movie.release_date.strftime('%d %B %Y') %></td>
        <td>
          <%= link_to "Show this movie", movie, class: "show-link" %>
        </td>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to "New movie", new_movie_path, class: "new-movie-link" %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>

<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>