<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
    <tr>
    <tr>
      <th>
        <%= link_to movies_path(sort: 'title', direction: (session[:direction] == 'asc' && session[:sort] == 'title' ? 'desc' : 'asc')) do %>
          Title
          <% if session[:sort] == 'title' %>
            <% if session[:direction] == 'asc' %>
              <span class="sort-indicator asc">▲</span>
            <% else %>
              <span class="sort-indicator desc">▼</span>
            <% end %>
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to movies_path(sort: 'rating', direction: (session[:direction] == 'asc' && session[:sort] == 'rating' ? 'desc' : 'asc')) do %>
          Rating
          <% if session[:sort] == 'rating' %>
            <% if session[:direction] == 'asc' %>
              <span class="sort-indicator asc">▲</span>
            <% else %>
              <span class="sort-indicator desc">▼</span>
            <% end %>
          <% end %>
        <% end %>
      </th>
      <th>
        <%= link_to movies_path(sort: 'release_date', direction: (session[:direction] == 'asc' && session[:sort] == 'release_date' ? 'desc' : 'asc')) do %>
          Release Date
          <% if session[:sort] == 'release_date' %>
            <% if session[:direction] == 'asc' %>
              <span class="sort-indicator asc">▲</span>
            <% else %>
              <span class="sort-indicator desc">▼</span>
            <% end %>
          <% end %>
        <% end %>
      </th>
      <th>Actions</th>
    </tr>
    </thead>

    <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime('%d %B %Y') %></td>
        <td>
          <%= link_to "Show this movie", movie %>
        </td>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to "New movie", new_movie_path %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>